@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Dev Candidate Test</h1>
    <p> Please redirect to Employee option in the navbar in the top of the page </p>
    <p> Note 1: I added the second surname value to validate the RFC </p>
    <p> Note 2: This page is a Razor Page web app with ASP.NET Core</p>
    <p> Note 3: I couldn't do the " Validate uniqueness of an employee (uniqueness is defined by RFC)" part of the test.</p>
    <p> Thank you so much for considering me for the position! Have a great day!</p>
    <p> - Miguel Ángel Gómez Meza</p>
</div>
